@import '~antd/dist/antd.css';

.mainContainer {
    background-color: #282c34;
    display: grid;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    min-height: 100vh;
    grid-row-gap: 20px;
}

.container {
    width: 400px;
    height: 400px;
    margin-top: 20px;
}

.imageContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
}

.img {
    display: grid;
    margin-top: -3px;
    margin-left: -8px;
}